    <!DOCTYPE html>
    <html lang="es-MX">
    <head>
        <meta charset="UTF-8">
        <meta author="Antony Ruiz">
        <meta description="Es una pagina web de prueba">
        <meta keywords="html, aplicacion web">
        <meta >
        <title>Mi primer pagina</title>
        <link rel="shortcut icon" href="./static/icon/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="./static/css/style.css" type="text/css">
    </head>
    <body>
    <!-- fee -->

    <h2>Los 3 principales instrumentos armonicos</h2>
   <p>Aunque al hablar de un arte como la música se puede pensar en los aspectos artísticos y emocionales, la verdad es que guarda una dimensión científica en la cual la matemática y la física tienen papeles protagónicos.
   <br><p>Es el caso del proceso que hay detrás de la armonía en los instrumentos, cuyo sonido no es más que un conjunto de ondas o fluctuaciones que difieren de la presión atmosférica.</p>
   <p><strong>Nota:</strong> Puedes encontrar variedad de intrumentos armonicos pero los que veras a continuación seran los principales </p>

<div class="grid-container">
  <div class="header">
    <h2>3 instrumentos armonicos</h2>
  </div>

  <div class="left" style="background-color:#8A5E40;">Guitarra
    <section>
        <article>
            <img src="./static/imagen/Guitarras.jpeg">
            <p>Este instrumento de cuerda, cuyo ancestro se debate entre la cítara y el laúd árabe,  consiste en una caja sonora de madera, con un mástil con trastero y seis cuerdas de nylon (que en principio se hacían con tripas de animales).</p>
            <br> <p>Aunque en sus inicios tenía menos cuerdas, artesanos españoles fueron agregándole más hasta llegar a las seis actuales. Este hecho cambió el sonido que se producía, convirtiéndolo en un instrumento muy popular entre los trovadores y músicos.</p>
        </article>
    </section>
  </div>
  <div class="middle" style="background-color:#8A5E40;">Piano
      <section>
        <article>
            <img src="./static/imagen/Piano.jpeg">
            <p>El piano es un instrumento musical que se clasifica como instrumento de teclado y de cuerdas percutidas. Se trata de un instrumento armónico que se construyó por primera vez alrededor del año 1700. Su inventor fue Bartolomeo Cristofori. Se cree que es una evolución de la cítara.</p>
           <br><p>Fue el primer instrumento en poseer un sistema de martillo para sonidos fuertes y suaves. De hecho, su creador lo llamó “piano forte” (suave y fuerte).</p>
        </article>
    </section>
  </div>
  <div class="right" >Violin
      <section>
        <article>
            <img src="./static/imagen/Violin.jpeg"width="480" height="640" center>
            <p>Es el más pequeño de los instrumentos de cuerda. Al igual que la guitarra, consiste en una caja de resonancia de madera, un mástil y cuerdas de metal, de tripa o materiales sintéticos.</p>
           <br><p>La lira y la viola de arco son los ancestros de este instrumento, que aparece en el siglo XVII fabricado con madera de arce y abetos.</p>
        </article>
    </section>
  </div>
  <div class="footer">
  <p>Universidad de Tula Tepeji</p>
  </div>
</div>

</body>
</html>